/test-bot/TestBot/nbproject/private/
/test-bot/TestBot/build/
/matchmaker/matchmaker/nbproject/private/
/matchmaker/matchmaker/build/
/matchmaker/matchmaker/dist/
/matchmaker/.idea/
/test-bot/TestBot/dist/
/micro-macro/out/
/micro-macro/.idea/
/player/bots_upload/
/player/tmp/
/java-bot/.idea/
/java-bot/classes/
**/Debug
**/Release
*.vs
*.db
*.opendb
*.filters
**/build*
**/ticks*
*.log
workspace.xml
*.autosave
.gradle
.DS_Store
*.class
*.user
*.pro.user.*
*.pro.user
micro-macro/tick_*.json
temp/macro_app.jar
temp/matchmaker.jar
matchmaker/classes/artifacts/matchmaker_jar/matchmaker.jar
