<!doctype html>

<html ng-app>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
		<script src="player.js"></script>
	</head>
	<body>

    <div class="row">
        <canvas id="c" width="550" height="550"></canvas>
    </div>
    <div ng-controller="SWOCController" class="row">
    <select data-ng-model="selectedgame" data-ng-options="game as game.name for game in games"></select> <br/>
    Game: {{selectedgame.name}} <br/>
    {{selectedgame.bot1 }} (White) is playing versus {{selectedgame.bot2}} (Black) <br/>
    Active Player = {{activeColor}} <br/>
    <button ng-click="decreaseMoveAndUpdate()">
    Previous move
    </button>
    <button ng-click="increaseMoveAndUpdate()">
    Next move
    </button>
    Completed Moves: {{selectedmove+1}} <br/>
    <input type="checkbox" ng-model="printlabels"> 
    Show labels <br/>
    
    <select data-ng-model="selectedcol" data-ng-options="col as col.name for col in cols"></select>
    <select data-ng-model="selectedstone" data-ng-options="stone as stone.name for stone in selectedcol.stones"></select>
    <br/>

    Set color of stone {{selectedstone.name}} <br/>
    <label>
        <input type="radio" name="color"
               value="black" ng-model="selectedstone.color" />
        Black
    </label> <br/>
    <label>
        <input type="radio" name="color"
               value="white" ng-model="selectedstone.color" />
        White
    </label>  <br/>
    <label>
        <input type="radio" name="color"
               value="null" ng-model="selectedstone.color" />
        null
    </label>  <br/>
    Set type of stone {{selectedstone.name}} <br/>
    <label>
        <input type="radio" name="type"
               value="TZAAR" ng-model="selectedstone.type" />
        Tzaar
    </label> <br/>
    <label>
        <input type="radio" name="type"
               value="TZARRAS" ng-model="selectedstone.type" />
        Tzarras
    </label>  <br/>
    <label>
        <input type="radio" name="type"
               value="TOTTS" ng-model="selectedstone.type" />
        Totts
    </label>  <br/>

    </div>    

</body>
</html>
