<h1>Game Log</h1>
<h2>History of Space Invaders</h2>
<h3>Make the Galaxy Great Again!</h3>
Show matches of <select ng-model="selectedUser" ng-options="user.username for user in activeUsers" ng-change="filter()"><select>
<p></button></p>

<table width="100%" class="table table-hover">
	<thead>
		<tr>
			<th>Time</th><th>Winner</th><th>Log</th><th width="100px"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="match in matches | orderBy:'time':'true'">
			<td>{{match.time}}</td>
			<td>
				<span>{{match.winner}}</span>
			</td>
			<td>
				<a href="{{match.log}}">Download log</span>
			</td>
		</tr>
	</tbody>
</table>
<div style="margin-left: auto; margin-right: auto; display: block; width: 360px;">
	<button class="btn btn-primary btn-mini" ng:click="newerMatches()">Show newer matches <b class="glyphicon glyphicon-minus"></b></button>
	<button class="btn btn-primary btn-mini" ng:click="olderMatches()">Show older matches <b class="glyphicon glyphicon-plus"></b></button>
<div>
