<header ng-hide="CPUSelected">
	<div class="player1-active" ng-if="CPUcolor == -1" style="width:45%" ng-click="selectCPUColor(-1)">White</div>
	<div class="player1-inactive" ng-if="CPUcolor != -1" style="width:45%" ng-click="selectCPUColor(-1)">White</div>
	<div class="VS">Choose your color</div>
	<div class="player2-active" ng-if="CPUcolor == 1" style="width:45%" ng-click="selectCPUColor(1)">Black</div>
	<div class="player2-inactive" ng-if="CPUcolor != 1" style="width:45%" ng-click="selectCPUColor(1)">Black</div>
	<br/>
	<h2>
	<br/>
	Choose AI level
  	</h2>
	<select ng-model="AILevel">
	    <option value="1">AIALPHABETA</option>
	    <option value="2">AIALPHABETA_ID</option>
	    <option value="3">AIALPHABETA_ID_PV</option>
	    <option value="4">AIALPHABETA_ID_PV_MO</option>
	    <option value="5">AIALPHABETA_ID_MO</option>
	    <option value="6">AIALPHABETA_RANDOM</option>
	    <option value="7">AIALPHABETA_ID_PV_MO_SCOUT</option>
	    <option value="8">AIALPHABETA_ID_PV_MO_HISTORY</option>
	    <option value="9">AIALPHABETA_MAX</option>
	    <option value="20">DFPNS</option>
	    <option value="21">DFPNS_EPS_TRICK</option>
	    <option value="22">WEAK_PNS</option>
	    <option value="23">DFPNS_EVAL_BASED</option>
	    <option value="24">DFPNS_WEAK_EPS_EVAL</option>
	    <option value="25">DFPNS_DYNAMIC_WIDENING_EPS_EVAL</option>
	    <option value="40">BEGINNERS_AI</option>
	    <option value="41">INTERMEDIATE_AI</option>
	    <option value="42">AICOMBI_RANDOM_AB_PNS</option>
  	</select> 
  	<br/>
    <button ng-click="selectCPU()" ng-show="CPUcolor && AILevel" > Select </button>
</header>

<header ng-show="CPUSelected"> 
	<div class="player1-active" ng-if="'white' == game.activeColor" style="width:45%">{{game.bot1}}</div>
	<div class="player1-inactive" ng-if="'white' != game.activeColor" style="width:45%">{{game.bot1}}</div>
	<div class="VS">VS</div>
	<div class="player2-active" ng-if="'black' == game.activeColor" style="width:45%">{{game.bot2}}</div>
	<div class="player2-inactive" ng-if="'black' != game.activeColor" style="width:45%">{{game.bot2}}</div>
</header>

<section ng-show="CPUSelected">
	<article>
		<div class="FirstMove" ng-if="game.passStatus == 'First_move'" >First move must be an attack move</div>
		<div class="Pass" ng-if="game.passStatus == 'Pass'" ng-click="pauseClick()" >Click here to Pass</div>
		<canvas id="c" width="550" height="550" ng-click="clickGame($event)" style="position:absolute;"></canvas>
		<canvas id="cmove" width="550" height="550" style="position:relative; top:0px; left:0px" ng-click="clickGame($event)"></canvas>
		<div class="winningPlayer player2-active" ng-if="game.winner != null && game.winner == game.bot2" style="position:relative; top:-317px;"> 
			<div>We have a winner!</div>
			<div style="font-size: 28px;">{{game.winner}}</div>
		</div>
		<div class="winningPlayer player1-active" ng-if="game.winner != null && game.winner == game.bot1" style="position:relative; top:-317px;"> 
			<div>We have a winner!</div>
			<div style="font-size: 28px;">{{game.winner}}</div>
		</div>
	</article>
	<article>
		<input type="checkbox" ng-model="game.printlabels"> 
		Show labels <br/>
		<caption><strong>Game Moves<strong></caption>
		<textarea readonly style="width: 100%; resize: vertical">{{game.moves}}</textarea>
	</article>

</section>
<aside ng-show="CPUSelected">
	<table style="width:100%">
		<thead>
			<tr>
				<th></th>
				<th style='text-align:center; font-size:24px'>White</th>
				<th style='text-align:center; font-size:24px'>Black</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th style='text-align:center; font-size:24px'>Boulder</th>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;">
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.whiteTzaarCount/6}}%; background-color:rgb({{220 - 220 * game.whiteTzaarCount/6 | number : 0}},{{220 * game.whiteTzaarCount/6 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.whiteTzaarCount}}</div>
					</div>
				</td>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;" >
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.blackTzaarCount/6}}%; background-color:rgb({{220 - 220 * game.blackTzaarCount/6 | number : 0}},{{220 * game.blackTzaarCount/6 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.blackTzaarCount}}</div>
					</div>
				</td>
			</tr>
			<tr>
				<th style='text-align:center; font-size:24px'>Rock</th>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;"  >
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.whiteTzarrasCount/9}}%; background-color:rgb({{220 - 220 * game.whiteTzarrasCount/9 | number : 0}},{{220 * game.whiteTzarrasCount/9 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.whiteTzarrasCount}}</div>
					</div>
				</td>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;"  >
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.blackTzarrasCount/9}}%; background-color:rgb({{220 - 220 * game.blackTzarrasCount/9 | number : 0}},{{220 * game.blackTzarrasCount/9 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.blackTzarrasCount}}</div>
					</div>
				</td>
			</tr>
			<tr>
				<th style='text-align:center; font-size:24px'>Pebble</th>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;"  >
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.whiteTottsCount/15}}%; background-color:rgb({{220 - 220 * game.whiteTottsCount/15 | number : 0}},{{220 * game.whiteTottsCount/15 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.whiteTottsCount}}</div>
					</div>
				</td>
				<td style='text-align:center; font-size:24px'>
					<div class="progress progress-striped active" style="position:relative;"  >
						<div class="progress-bar"  role="progressbar" style="width:{{100 * game.blackTottsCount/15}}%; background-color:rgb({{220 - 220 * game.blackTottsCount/15 | number : 0}},{{220 * game.blackTottsCount/15 | number : 0}},0);position:absolute; top:0;left:0">
						</div>
						<div style="position:absolute;left:45%; top:0;"> {{game.blackTottsCount}}</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<br/><br/>
	<!-- Our Player -->
	<br/>
	<div class="moveTypeAnimation-container" >
		<img ng-repeat="moveString in game.moveStrings" class="moveTypeAnimation" ng-if="moveString.index == game.currentmoveIndex" src="{{moveString.move_img}}" height="250" width="250" style="clear:both;"></img>
	</div>
</aside>
